*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
.body{
    display: flex;
    background: #e0e1dd;
}

/* Menu */
.header{
    width: 6vw;
    height: 100vh;
    background: #0d1b2a;
    display: flex;
    transition: width 0.3s;
}

.header nav{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header ul{
    display: flex;
    list-style: none;
    flex-direction: column;}

.header li{
    padding: 3px 3px 3px 0px;
    margin: 30px 0px 30px 10px;
    border-radius: 15px;
}
.header li:hover{
    background-color: #778da9;
    transition: .5s;
    transform: scale(1.05);
}

.header a{
    padding: 10px;
}

.header i{
    font-size: 40px;
    color: aliceblue;
}

.dplNone{
    display: none;
    position: relative;
    bottom: 10px;
    font-size: 15px;
    margin-left: 10px;
    transition: 10s ease;
}

/* Perfil */
.sectionPerfil{
    margin: 30px 0 0 0;
    width: 94vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    transition: width 0.3s;
}

.sectionPerfil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: black 2px solid;
}

.infoPerfil{
    margin: 20px 0 0 50px
}