*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
.body{
    display: flex;
    background: #e0e1dd;
}

/* Menu */
.header{
    width: 5vw;
    height: 100vh;
    background: #0d1b2a;
    display: flex;

}

.header nav{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header ul{
    display: flex;
    list-style: none;
    flex-direction: column;}

.header li{
    margin: 30px 0px 30px 5px;
}

.header a{
    padding: 10px;
}

.header i{
    font-size: 40px;
    color: aliceblue;
}

/* Perfil */
.sectionPerfil{
    margin: 30px 0 0 0;
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
}

.sectionPerfil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: black 2px solid;
}

.infoPerfil{

    margin: 20px 0 0 50px
}